---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import TeamSection from "@components/TeamSection.astro";
import BoardSection from "@components/BoardSection.astro";

// Import team data from the data file
import { teamMembers } from "../../js/teamData.js";
import { boardMembers } from "../../js/boardData.js";
---

<BaseLayout
  title="Our Ohana"
  description="Meta description for the page"
>
  <!-- Custom hero/banner section 
  <section class="page-header">
    <div class="cs-container">
      <h1>About</h1>
      <img src="/assets/images/About-Page.png" alt="About page header" width="100%" />
    </div>
  </section> -->

  <!-- ============================================ -->
<!--                  Meet Team                   -->
<!-- ============================================ -->

<TeamSection 
  id="team-section"
  title="Our Team" 
  members={teamMembers} 
/>
    
    <BoardSection 
    id="board-section"
      title="Our Board" 
      members={boardMembers} 
    />
                                

  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE PAGE */

 
  </style>