---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
---

<BaseLayout
  title="Strategic Planning and Technical Assistance"
  description="Meta description for the page"
>
  <!-- Custom hero/banner section -->
  <section class="page-header">
    <div class="cs-container">
      <h1>About</h1>
      <img src="/assets/images/About-Page.png" alt="About page header" width="100%" />
    </div>
  </section>

  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE PAGE */

  </style>